@import url(reset.css);

/*common*/
html,body{width:100%;height:100%;color:#004681;}
a{color:#004681;text-decoration:none;}
img{max-width:100%;height:auto;}
.reverse{flex-flow:row-reverse;}

/*-----------모바일 버전 끝---------------*/
@media (max-width:767.9px) {
/*common*/
.arrow{display:none;}
.arrow_wrap{display:none;}
    
/*헤더*/
header{position:fixed;z-index:100;width:100%;height:50px;background:#004681;}    
.logo{position:absolute;top:0;left:0;z-index:100;width:50px;height:50px;}    
.logo a{display:block;width:100%;height:100%;}    

/*전체메뉴열기*/       
.btn_allmenu{
     position:relative;float:right;width:40px;height:36px;margin:7px 10px 0 0;
    cursor:pointer;border:none;background:none;}
.btn_allmenu span{
    position:absolute;right:0;
    display:block;width:26px;height:4px;margin-top:-2px;background:#fff;
    text-indent:-9999px;overflow:hidden;
    transition:all 0.5s;-ms-transition:all 0.5s;
    }
.btn_allmenu_open div:before{
    position:absolute;top:0;right:0;left:0;
    width:40px;height:4px;background:#fff;
    transition:all 0.5s;-ms-transition:all 0.5s;
    content:'';display:block;
    }
.btn_allmenu_open div:after{
    position:absolute;bottom:0;right:0;left:0;
    width:40px;height:4px;background:#fff;
    transition:all 0.5s;-ms-transition:all 0.5s;
    content:'';display:block;
    }    
.btn_allmenu_open:hover span{
    position:absolute;right:0;margin-top:-2px;
    display:block;text-indent:-9999px;overflow:hidden;
    width:100%;height:4px;background:#fff;
    }/*가운데*/    
.btn_allmenu_open:hover div:before{
    margin-left:14px;width:26px;height:4px;background:#fff;
    }
.btn_allmenu_open:hover div:after{
    margin-left:14px; width:26px;height:4px;background:#fff;
    }
    
/*전체메뉴닫기*/
.btn_allmenu_close{position:relative;z-index:3;}
.btn_allmenu_close span{display:none;}
.btn_allmenu_close div:before{
    position:absolute;top:0;right:0;left:0;
    content:'';display:block;width:40px;height:4px;background:#fff;
    transform : translateY(17px) rotate(-45deg);
    -webkit-transform : translateY(17px) rotate(-45deg);
    }    
.btn_allmenu_close div:after{
    position:absolute;top:0;right:0;left:0;
    content:'';display:block;width:40px;height:4px;background:#fff;
    transform : translateY(17px) rotate(45deg);
    -webkit-transform : translateY(17px) rotate(45deg);    
    }    
/*gnb  */    
nav{display:none;
    position:fixed;z-index:1;right:0;width:100%;height:100%;
    background:rgba(0,0,0,0.5);}   
.gnb{position:absolute;z-index:2;top:0;right:0;width:50%;height:100%;
     background:#004681;padding:100px 0 0 8%;box-sizing:border-box;}
.gnb > li{margin-bottom:15%;}    
.gnb a{color:#fff;font-size:2rem;font-weight:bold;}    
    
/*container*/    

#container{width:100%;height:100%;padding-top:50px;box-sizing:border-box;}

  
/*content_intro*/
.content_intro{position:relative;
    width:100%;height:calc(100% - 50px);padding-top:50px;
    background:url(../images/me2.jpg) no-repeat 50% 50%;
    background-size:cover;
        } 
.content_intro .inner{position:absolute;bottom:20%;right:0;left:0;
            width:70%;
            text-align:center;margin:0 auto;color:#fff;}    
.my_intro{margin-bottom:50px;}
.my_intro h2{font-size:1.7rem;color:#fff;}    
.my_intro p{font-size:1.5rem; color:#004681;}       
    
.explain{font-size:0.8rem;}   
.explain span{font-weight:bold;}    
.ori_po{padding-top:10px;}    
.ori_po a{color:#fff;text-decoration:underline;}    
/*content_web*/

.content_web{display:none;
    position:fixed;z-index:11;top:50px;left:0;right:0;
    width:100%;height:calc(100% - 50px);overflow-y:auto;background:#fff;}

.content_web .inner > section{
    margin:5%;padding:2%;box-sizing:border-box;
    border:3px solid #004681;background:#feefd8;}    
.box_title{margin-bottom:7%;text-align:center;font-size:1.5rem;font-weight:bold;}    
.menu_flex{}    
.menu_flex > div{width:100%;}    
.menu_box{position:relative;padding:2% 0 0 2%;box-sizing:border-box;
        border:3px solid #004681;}    
.btn_page a{
    position:absolute;width:100px;height:40px;line-height:40px;
    text-align:center;background:#004681;color:#fff;font-weight:bold;
    }   
.btn_page a:first-child{top:0;left:-3px;margin-top:-43px;}
.btn_page a:last-child{top:0;left:0;margin:-43px 0 0 120px;}
    
.menu_box > h4{font-size:1.2rem;font-weight:600;margin-bottom:1.5%;}
.menu_box ul{display:flex;}
.menu_box ul li{margin-right:5%;font-size:1.2rem;}    
.menu_box ul li a{display:block;padding:1%;text-decoration:underline;}    
.p_wrap{}
.menu_box p{padding-top:7%; }    
   
.web_img{text-align:center;margin-bottom:50px;}
    
/*content_design*/    
.content_design{display:none;
    position:fixed;z-index:11;top:50px;left:0;right:0;
    width:100%;height:calc(100% - 50px);overflow-y:auto;background:#fff;}
.title_text{text-align:center;padding:15px 0;font-size:1.5rem;font-weight:bold;}
.design_kakao{
    display:flex;justify-content:space-around;flex-wrap:wrap;text-align:center;}    
.design_kakao > figure{width:calc(100%/2);height:auto;padding-bottom:5%;font-weight:bold;}    

/*  design_copy  */
.design_copy{}
.character{
    margin-bottom:40px;text-align:center;}    
.character figure{width:90%;margin:0 auto;font-weight:bold;}
    
/*content_about*/    
.content_about{display:none;
    position:fixed;z-index:11;top:50px;left:0px;right:0;
    width:100%;height:calc(100% - 50px);overflow-y:auto;
    padding-top:5%;box-sizing:border-box;background:#fff;
    }    
.title_img{text-align:center;margin-bottom:2%;}
.title_img img{width:250px;height:auto;border-radius:50%;}

.about_box{}
.about_box > div{width:100%;height:auto;
        margin-bottom:2%;padding:1% 2%;box-sizing:border-box;background:#feefd8;}    
.about_box > div:nth-child(2){background:rgba(243,149,139,0.3);}    
.about_box h4{font-weight:bold;font-size:1.2rem;text-align:center;}
.about_box ul{}    
.about_box ul li{width:100%;}    
.about_box li > strong{font-weight:bold;margin-bottom:1%;}    
.about_education strong{display:block;}
.about_profile li, .about_license li{margin-bottom:1%;}
.about_profile strong, .about_license strong{display:inline-block;width:20%;}    
/*    

.about_profile strong, .about_license strong{padding-bottom:2%;}    
.about_education span, .about_license span{display:block;}    
*/
/*content_skill*/    
.content_skill{display:none;
    position:absolute;z-index:11;top:50px;right:0;left:0;background:#fff;
    width:100%; height:calc(100% - 50px);padding-top:50px;box-sizing:border-box;
    }
.skill_title{text-align:center;font-size:2rem;font-weight:bold;
    margin-top:-20px;margin-bottom:20px;}    
.skill_wrap{}    
.skill_wrap section{}    
.bar{display:flex;justify-content:center;margin-bottom:4%}
.bar li{margin-bottom:5%;height:40px;}    
.bar li:first-child{width:30%;padding-top:2%;text-align:center;font-weight:bold;}    
.bar li:nth-child(2){
    position:relative;width:20%;height:40px;line-height:40px;
    margin:5px 10px 0 10px;text-align:center;
    background:#a7d1f5;}
.bar li:last-child{width:50%;font-size:0.7rem;}

.bar li:nth-child(2) span{position:absolute;z-index:10;top:0;left:0;right:0;bottom:0;
    font-weight:bold;color:#fff;}   
.bar li:nth-child(2):after{
    content:"";display:block;height:100%;width:100%;
    position:absolute;z-index:9;top:0%;background:#004681;}
.skill_wrap section:first-child .bar_2:after{width:90%;}
.skill_wrap section:nth-child(2) .bar_2:after{width:90%;}    
.skill_wrap section:nth-child(3) .bar_2:after{width:40%;}
.skill_wrap section:nth-child(4) .bar_2:after{width:60%;}
.skill_wrap section:nth-child(5) .bar_2:after{width:90%;}
.skill_wrap section:nth-child(6) .bar_2:after{width:85%;}
.skill_wrap section:nth-child(7) .bar_2:after{width:75%;}
.skill_wrap section:nth-child(8) .bar_2:after{width:70%;}
.skill_wrap section:nth-child(9) .bar_2:after{width:30%;}
    
    
}/*-----------모바일 버전 끝---------------*/
/*-----------태블릿 버전 끝---------------*/
@media (min-width:768px) and (max-width:1299.9px) {
/*common*/
body{padding:50px;box-sizing:border-box;}
.arrow{background:#fff;}
/*헤더*/    
.logo{position:absolute;top:0;left:0;z-index:100;width:50px;height:50px;}    
.logo a{display:block;width:100%;height:100%;}    

/*gnb*/    
.btn_allmenu{display:none;}
.gnb > li{position:fixed;z-index:10;font-size:1rem;background:#004681;}    
.gnb > li a{display:block;width:100%;height:100%;color:#fff;font-size:1.7rem;}    
.sub_web{top:0;left:0;right:0;width:100%;height:50px;line-height:50px;text-align:center;}    
.sub_design{bottom:0;left:0;right:0;width:100%;height:50px;line-height:50px;text-align:center;}
.sub_about{left:0;top:0;bottom:0;width:50px;height:100%;}    
.sub_about span{
    position:absolute;top:45%;left:10px;writing-mode: tb-rl;
    transform:rotate(180deg);-ms-transform:rotate(180deg);
    }   
.sub_skill{right:0;top:0;bottom:0;width:50px;height:100%;}    
.sub_skill span{position:absolute;top:45%;right:10px;writing-mode: tb-rl;}    

/*container*/    
#container div section:nth-child(2n) .menu_flex{flex-flow:row-reverse;}
#container{width:100%;height:calc(100% - 200px);}
/*content_arrow*/
.arrow_up{
    position:fixed;z-index:9;top:50px;right:0;left:0;
    width:100%;height:50px;
    text-align:center;font-size:2rem;
    }    
.arrow_bottom{
    position:fixed;bottom:50px;right:0;left:0;
    width:100%;height:50px;
    text-align:center;font-size:2rem;}
.arrow_left{
    position:fixed;left:50px;top:0;bottom:0;
    width:50px;height:100%;
    text-align:center;font-size:2rem;}
.arrow_left i{position:absolute;top:46%;}    
.arrow_right{
    position:fixed;right:50px;top:0%;
    width:50px;height:100%;
    text-align:center;font-size:2rem;} 
.arrow_right i{position:absolute;top:46%;}    
/*content_intro*/
.content_intro{position:relative;
    width:calc(100% - 200px);height:100%;padding:100px;
    background:url(../images/me22.png) no-repeat 50% 50%;
    background-size:cover;
    transition:all 1s;
        }
.content_intro:hover{
    position:relative;
    width:calc(100% - 200px);height:100%;padding:100px;
    background:url(../images/me2.jpg) no-repeat 50% 50%;
    background-size:cover;
    }    
.content_intro .inner{position:relative;width:70%;height:100%;margin:0 auto;color:#fff;}    
.my_intro{font-size:2rem;margin-bottom:50px;}
.my_intro h2{color:#fff;}    
.my_intro p{font-size:1.7rem;color:#004681;}       
    
.explain{margin-top:400px;font-size:1rem;}   
.explain span{font-weight:bold;}    
    
/*content_web*/
#container > div.active{top:50px;}
.content_web{display:none;
    position:fixed;z-index:11;top:100px;left:0;right:0;
    width:100%;height:calc(100% - 100px);overflow-y:auto;background:#fff;}

.content_web .inner > section{
    margin:5%;padding:2%;box-sizing:border-box;
    border:3px solid #004681;background:#feefd8;}    
.box_title{margin-bottom:7%;text-align:center;font-size:1.5rem;font-weight:bold;}    
.menu_flex{display:flex;justify-content:space-around;}    
.menu_flex > div{width:49%;}    
.menu_box{position:relative;padding:2% 0 0 2%;box-sizing:border-box;
        border:3px solid #004681;}    
.btn_page a{
    position:absolute;width:100px;height:40px;line-height:40px;
    text-align:center;background:#004681;color:#fff;font-weight:bold;
    }   
.btn_page a:first-child{top:0;left:-3px;margin-top:-43px;}
.btn_page a:last-child{top:0;left:0;margin:-43px 0 0 120px;}
    
.menu_box > h4{font-size:1.2rem;font-weight:600;margin-bottom:1.5%;}
.menu_box ul{display:flex;}
.menu_box ul li{margin-right:5%;font-size:1.2rem;}    
.menu_box ul li a{display:block;padding:1%;text-decoration:underline;}    
.p_wrap{}
.menu_box p{padding-top:7%; }    
   
.web_img{text-align:center;}
    
/*content_design*/    
.content_design{display:none;
    position:fixed;z-index:11;bottom:100px;left:0;right:0;
    width:100%;height:calc(100% - 100px);overflow-y:auto;background:#fff;}
.title_text{text-align:center;padding:15px 0;font-size:1.5rem;font-weight:bold;}
.design_kakao{
    display:flex;justify-content:space-between;flex-wrap:wrap;text-align:center;}    
.design_kakao > figure{width:calc(100%/3);height:auto;padding-bottom:50px;font-weight:bold;}    

/*  design_copy  */
.design_copy{}
.character{
    display:flex;justify-content:space-between;margin-bottom:40px;text-align:center;}    
.character figure{width:calc(100%/3);font-weight:bold;}
    
/*content_about*/    
.content_about{display:none;
    position:fixed;z-index:11;left:100px;top:0;bottom:0;
    width:calc(100% - 100px);height:100%;overflow-y:auto;
    padding-right:50px;padding-top:50px;box-sizing:border-box;background:#fff;
    }    
.title_img{text-align:center;margin-bottom:8%;}
.title_img img{width:300px;height:auto;border-radius:50%;}

.about_box{display:flex;justify-content:space-around;}
.about_box > div{width:calc(100%/3);height:auto;padding:1% 2%;background:#feefd8;}    
.about_box > div:nth-child(2){margin:0 1%;background:rgba(243,149,139,0.3);}    
.about_box h4{font-weight:bold;font-size:1.2rem;margin-bottom:20px;}
.about_box ul{}    
.about_box ul li{width:100%;height:70px;}    
.about_box li > strong{display:block;font-weight:bold;margin-bottom:1%;}
.about_profile strong, .about_license strong{padding-bottom:2%;}    
.about_education span, .about_license span{display:block;}    

/*content_skill*/    
.content_skill{display:none;
    position:absolute;z-index:11;top:0;bottom:0;right:100px;background:#fff;
    width:calc(100% - 100px); height:100%; padding-top:100px;box-sizing:border-box;
    }
.skill_title{text-align:center;font-size:2rem;font-weight:bold;
    margin-top:-20px;margin-bottom:20px;}    
.skill_wrap{}    
.skill_wrap section{}    
.bar{display:flex;justify-content:center;}
.bar li{margin-bottom:30px;height:50px;}    
.bar li:first-child{width:20%;line-height:50px;text-align:center;font-weight:bold;}    
.bar li:nth-child(2){
    position:relative;width:35%;height:40px;line-height:40px;
    margin:5px 10px 0 10px;text-align:center;
    background:#a7d1f5;}
.bar li:last-child{width:45%;font-size:0.8rem;}

.bar li:nth-child(2) span{position:absolute;z-index:10;top:0;left:0;right:0;bottom:0;
    font-weight:bold;color:#fff;}   
.bar li:nth-child(2):after{
    content:"";display:block;height:100%;width:100%;
    position:absolute;z-index:9;top:0%;background:#004681;}
.skill_wrap section:first-child .bar_2:after{width:90%;}
.skill_wrap section:nth-child(2) .bar_2:after{width:90%;}    
.skill_wrap section:nth-child(3) .bar_2:after{width:40%;}
.skill_wrap section:nth-child(4) .bar_2:after{width:60%;}
.skill_wrap section:nth-child(5) .bar_2:after{width:90%;}
.skill_wrap section:nth-child(6) .bar_2:after{width:85%;}
.skill_wrap section:nth-child(7) .bar_2:after{width:75%;}
.skill_wrap section:nth-child(8) .bar_2:after{width:70%;}
.skill_wrap section:nth-child(9) .bar_2:after{width:30%;}    
    
    
}/*-----------태블릿 버전 끝---------------*/
/*----------pc 버전-----------*/
@media (min-width:1300px) {
/*common*/
body{padding:50px;box-sizing:border-box;}
.arrow{background:#fff;}
/*헤더*/    
.logo{position:absolute;top:0;left:0;z-index:100;width:50px;height:50px;}    
.logo a{display:block;width:100%;height:100%;}    

/*gnb*/    
.btn_allmenu{display:none;}
.gnb > li{position:fixed;z-index:10;font-size:1rem;background:#004681;}    
.gnb > li a{display:block;width:100%;height:100%;color:#fff;font-size:1.7rem;}    
.sub_web{top:0;left:0;right:0;width:100%;height:50px;line-height:50px;text-align:center;}    
.sub_design{bottom:0;left:0;right:0;width:100%;height:50px;line-height:50px;text-align:center;}
.sub_about{left:0;top:0;bottom:0;width:50px;height:100%;}    
.sub_about span{
    position:absolute;top:45%;left:10px;writing-mode: tb-rl;
    transform:rotate(180deg);-ms-transform:rotate(180deg);
    }   
.sub_skill{right:0;top:0;bottom:0;width:50px;height:100%;}    
.sub_skill span{position:absolute;top:45%;right:10px;writing-mode: tb-rl;}    

/*container*/    
#container div section:nth-child(2n) .menu_flex{flex-flow:row-reverse;}
#container{width:100%;height:calc(100% - 200px);}
/*content_arrow*/
.arrow_up{
    position:fixed;z-index:9;top:50px;right:0;left:0;
    width:100%;height:50px;
    text-align:center;font-size:2rem;
    }    
.arrow_bottom{
    position:fixed;bottom:50px;right:0;left:0;
    width:100%;height:50px;
    text-align:center;font-size:2rem;}
.arrow_left{
    position:fixed;left:50px;top:0;bottom:0;
    width:50px;height:100%;
    text-align:center;font-size:2rem;}
.arrow_left i{position:absolute;top:46%;}    
.arrow_right{
    position:fixed;right:50px;top:0%;
    width:50px;height:100%;
    text-align:center;font-size:2rem;} 
.arrow_right i{position:absolute;top:46%;}    
/*content_intro*/
.content_intro{position:relative;
    width:calc(100% - 200px);height:100%;padding:100px;
    background:url(../images/me22.png) no-repeat 50% 50%;
    background-size:cover;
    transition:all 1s;
        }
.content_intro:hover{
    position:relative;
    width:calc(100% - 200px);height:100%;padding:100px;
    background:url(../images/me2.jpg) no-repeat 50% 50%;
    background-size:cover;
    }    
.content_intro .inner{position:relative;width:70%;height:100%;margin:0 auto;color:#fff;}    
.my_intro{font-size:3rem;margin-bottom:50px;}
.my_intro h2{color:#fff;}    
.my_intro p{font-size:2.5rem;color:#004681;}       
    
.explain{margin-top:400px;font-size:1rem;}   
.explain span{font-weight:bold;}    
    
/*content_web*/
#container > div.active{top:50px;}
.content_web{display:none;
    position:fixed;z-index:11;top:50px;left:0;right:0;
    width:100%;height:100%;overflow-y:auto;background:#fff;}

.content_web .inner > section{
    margin:5%;padding:2%;box-sizing:border-box;
    border:3px solid #004681;background:#feefd8;}    
.box_title{margin-bottom:7%;text-align:center;font-size:1.5rem;font-weight:bold;}    
.menu_flex{display:flex;justify-content:space-around;}    
.menu_flex > div{width:600px;}    
.menu_box{position:relative;padding:2% 0 0 2%;box-sizing:border-box;
        border:3px solid #004681;}
    
.btn_page a{
    position:absolute;width:100px;height:40px;line-height:40px;
    text-align:center;background:#004681;color:#fff;font-weight:bold;
    }   
.btn_page a:first-child{top:0;left:-3px;margin-top:-43px;}
.btn_page a:last-child{top:0;left:0;margin:-43px 0 0 120px;}
    
.menu_box > h4{font-size:1.2rem;font-weight:600;}
.menu_box ul{display:flex;}
.menu_box ul li{margin-right:5%;font-size:1.2rem;}    
.menu_box ul li a{display:block;padding:1%;text-decoration:underline;}    
.p_wrap{}
.menu_box p{padding-top:30px; }    
   
.web_img{text-align:center;}
    
/*content_design*/    
.content_design{display:none;
    position:fixed;z-index:11;bottom:100px;left:0;right:0;
    width:100%;height:calc(100% - 100px);overflow-y:auto;background:#fff;}
.title_text{text-align:center;padding:15px 0;font-size:1.5rem;font-weight:bold;}
.design_kakao{
    display:flex;justify-content:space-between;flex-wrap:wrap;text-align:center;}    
.design_kakao > figure{width:calc(100%/4);height:auto;padding-bottom:50px;font-weight:bold;}    

/*  design_copy  */
.design_copy{}
.character{
    display:flex;justify-content:space-between;margin-bottom:40px;text-align:center;}    
.character figure{width:calc(100%/3);font-weight:bold;}
    
/*content_about*/    
.content_about{display:none;
    position:fixed;z-index:11;left:100px;top:0;bottom:0;
    width:calc(100% - 100px);height:100%;overflow-y:auto;
    padding:50px;box-sizing:border-box;background:#fff;
    }    
.title_img{text-align:center;margin-bottom:50px;}
.title_img img{width:300px;height:auto;border-radius:50%;}

.about_box{display:flex;justify-content:center;}
.about_box > div{width:400px;height:auto;padding:20px;background:#feefd8;}    
.about_box > div:nth-child(2){margin:0 25px;background:rgba(243,149,139,0.3);}    
.about_box h4{font-weight:bold;font-size:1.2rem;margin-bottom:20px;}
.about_box ul{
    display:flex;flex-direction:column;justify-content:space-between;height:200px;}    
.about_box br{display:none;}

.about_profile li > strong{display:inline-block;width:100px;}
.about_education span, .about_license span{display:block;}    

/*content_skill*/    
.content_skill{display:none;
    position:absolute;z-index:11;top:0;bottom:0;right:100px;background:#fff;
    width:calc(100% - 100px); height:100%; padding:100px;box-sizing:border-box;
    }
.skill_title{text-align:center;font-size:2rem;font-weight:bold;
    margin-top:-20px;margin-bottom:20px;}    
.skill_wrap{}    
.skill_wrap section{}    
.bar{display:flex;justify-content:center;}
.bar li{margin-bottom:30px;height:50px;}    
.bar li:first-child{width:20%;line-height:50px;text-align:center;font-weight:bold;}    
.bar li:nth-child(2){
    position:relative;width:35%;height:40px;line-height:40px;
    margin:5px 10px 0 10px;text-align:center;
    background:#a7d1f5;}
.bar li:last-child{width:45%;padding:5px 0 0 5px;box-sizing:border-box;}

.bar li:nth-child(2) span{position:absolute;z-index:10;top:0;left:0;right:0;bottom:0;
    font-weight:bold;color:#fff;}   
.bar li:nth-child(2):after{
    content:"";display:block;height:100%;width:100%;
    position:absolute;z-index:9;top:0%;background:#004681;}
.skill_wrap section:first-child .bar_2:after{width:90%;}
.skill_wrap section:nth-child(2) .bar_2:after{width:90%;}    
.skill_wrap section:nth-child(3) .bar_2:after{width:40%;}
.skill_wrap section:nth-child(4) .bar_2:after{width:60%;}
.skill_wrap section:nth-child(5) .bar_2:after{width:90%;}
.skill_wrap section:nth-child(6) .bar_2:after{width:85%;}
.skill_wrap section:nth-child(7) .bar_2:after{width:75%;}
.skill_wrap section:nth-child(8) .bar_2:after{width:70%;}
.skill_wrap section:nth-child(9) .bar_2:after{width:30%;}
    
    
}/*----------//pc 버전 끝-----------*/